In [1]:
import numpy as np
import pandas as pd
movieActorData = pd.read_csv("results11.csv")

In [2]:
movieActorData

              Actor                            Movie/TV Show
0        Matt Milne                                     Soil
1        Matt Milne                   Modern Life Is Rubbish
2        Matt Milne                             Dog Squadron
3        Matt Milne                            Dusha shpiona
4        Matt Milne                                Marmalade
...             ...                                      ...
17886  Maggie Smith           The 59th Annual Academy Awards
17887  Maggie Smith                           Breakfast Time
17888  Maggie Smith                    The Wandering Company
17889  Maggie Smith  Death on the Nile: Making of Featurette
17890  Maggie Smith                              Film Review

[17891 rows x 2 columns]

In [3]:
data = movieActorData.groupby(["Movie/TV Show"]).count()
data

                                      Actor
Movie/TV Show
#Game4Grenfell                            1
#Lifeforce                                1
#Starvecrow                               1
'60s Pop Rock Reunion                     1
'71                                       3
...                                     ...
iAnimal: Through the Eyes of a Pig        1
tlc                                       2
¡Feliz 2010! Cuéntame                     1
£1 Houses: Britain's Cheapest Street      1
À dieu                                    1

[9655 rows x 1 columns]

In [7]:
sorted_df = data.sort_values('Actor', ascending=False)
shortdf = sorted_df.head()

In [ ]:
import seaborn as sns
sns.set_theme(style="whitegrid")
tips = sns.load_dataset("shortdf")
ax = sns.barplot(x="Movie/TV Show", y="Actors", data=shortdf)